include LICENSE
include README.md
include requirements.txt
include wp-agent/monitoring/*.yml
include wp-agent/monitoring/rules/*.yml
recursive-include wp-agent/scripts *
recursive-include wp-agent/tests *